html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  background: #fff;
  color: #00bff3;
  font-family: Helvetica, Arial, sans-serif; }
  @media screen and (max-device-width: 480px) {
    body {
      background: #fff; } }

a {
  color: #00bff3; }
  a:visited {
    color: #00bff3; }

#poweredlogo {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
  width: 52px; }

#addbutton {
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 100;
  padding: 10px 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  background: #00bff3;
  color: #fff;
  text-decoration: none; }
  @media screen and (max-device-width: 480px) {
    #addbutton {
      top: 15px;
      right: 15px; } }

#app-container {
  position: relative;
  width: 100%;
  height: 100%; }

#map-canvas {
  width: 100%;
  height: 100%; }

#player-container {
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  border-top: 3px solid #00bff3; }
  @media screen and (max-device-width: 480px) and (orientation: landscape) {
    #player-container {
      height: 60px; } }

#start-trail {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  text-align: center;
  cursor: pointer; }
  #start-trail .label {
    display: inline-block;
    margin-top: 30px;
    background: url(../assets/play_icon.svg);
    background-repeat: no-repeat;
    padding-left: 20px; }

#simple {
  cursor: pointer;
  text-align: center; }
  #simple .label {
    display: inline-block;
    margin-top: 15px; }

#track-container {
  zoom: 1;
  height: 80px;
  padding-left: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative; }
  #track-container:before, #track-container:after {
    content: "";
    display: table; }
  #track-container:after {
    clear: both; }
  #track-container #trackinfo {
    display: block;
    margin: 22px 10px 0 10px;
    font-size: .9em; }
  #track-container #pausestream, #track-container #resumestream {
    position: absolute;
    z-index: 20px;
    cursor: pointer;
    top: 0px;
    right: 0px;
    height: 18px;
    padding: 8px 16px; }
  #track-container #resumestream {
    display: none; }

#search-container {
  padding: 20px; }
  #search-container #search-result {
    margin-top: 10px; }
    #search-container #search-result .track {
      padding: 10px 0; }
      #search-container #search-result .track button {
        margin-top: 5px; }

#track-location-map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }
  #track-location-map #map-canvas2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20; }
  #track-location-map .title {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 30;
    text-align: center;
    background: white;
    padding: 10px; }
  #track-location-map .mapbuttons {
    width: 260px;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 20;
    text-align: center; }
    #track-location-map .mapbuttons .cancel, #track-location-map .mapbuttons .save {
      padding: 10px 20px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding-box;
      background-clip: padding-box;
      background: #00bff3;
      color: #fff;
      cursor: pointer; }
    #track-location-map .mapbuttons .cancel {
      background: #ababab; }
