@import 'sass-toolbox';


$maincolor: #00bff3;

@mixin centered {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
  background: #fff;
  color: $maincolor;
  font-family: Helvetica, Arial, sans-serif;

  @include iphone {
    background: #fff;
  }
}

a {
	color: $maincolor;

	&:visited {
		color: $maincolor;
	}
}

#poweredlogo {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 100;
	width: 52px;
}

#addbutton {
	position: absolute;
	top: 20px;
	right: 30px;
	z-index: 100;
	width: 40px;

	@include iphone {
		top: 15px;
		right: 15px;
	}
}

#app-container {
	position: relative;
	width: 100%;
	height: 100%;
}

#map-canvas {
	width: 100%;
	height: 100%;
}

#toolbar {
	width: 100%;
	height: 80px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #fff;
	border-top: 3px solid $maincolor;

	@include iphone-landscape {
		height: 60px;
	}
	
	#start {
		text-align: center;

		.label {
			display: inline-block;
			margin-top: 30px;
		}

		#start-trail {
			display: none;
			font-size: 1em;
			font-weight: bold;
			text-transform: uppercase;
			@include centered;
			cursor: pointer;

			.label {
				background: url(../assets/play_icon.svg);
				background-repeat: no-repeat;
				padding-left: 20px;
			}
		}

		#no-tracks {
			display: none;
			cursor: pointer;

			.label {
				margin-top: 15px;
			}
		}
	}
	
	#player-container {
		display: none;
		@include clearfix;
		height: 80px;
		padding-left: 80px;
		background-size: contain;
		background-repeat: no-repeat;
		position: relative;

		#trackinfo {
			display: block;
			margin: 22px 10px 0 10px;
			font-size: .9em;
		}

		#pausestream, #resumestream {
			position: absolute;
			z-index: 20px;
			cursor: pointer;
			top: 0px;
			right: 0px;
			height: 18px;
			padding: 8px 16px;
		}

		#resumestream {
			display: none;
		}
	}
}

#map-container {
	visibility: hidden;

	#create-map {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 20;
	}

	.mapbuttons {
		width: 260px;
		position: absolute;
		bottom: 20px;
		left: 0;
		right: 0;
		margin: 0 auto;
		z-index: 20;
		text-align: center;

		.cancel, .save {
			padding: 10px 20px;
			@include border-radius(5px);
			background: $maincolor;
			color: #fff;
			cursor: pointer;
		}

		.cancel {
			background: #ababab;
		}
	}
	
}
